## Data Encoding 
- Encoding is the process of converting the data or a given sequence of characters, symbols, alphabets etc., into a specified format, for the secured transmission of data.
- There are several types of encoding, including image encoding, audio and video encoding, and character encoding.
- Machine learning models require all input and output variables to be numeric.
- Encoding data is a technique used for data privacy as it can mask the data.

### Advantages of encoding data: 
#### Modeling 
- encoding categorical to numerical values allows machine learning models to process and evaluate the data

#### Privacy
- keeps your data safe since the files are not readable unless you have access to the algorithms that were used to encode it
- ideal solution if you need to have third parties access your archives but do not want to have everyone be able to access some sensitive files

### Categorical Encoding Process
- read in data file 
- inspect types of data 
- handle any NaN values

In [64]:
import pandas as pd
import numpy as np
### select the columns wanted ### 
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

### read in data file, replace '?' with NaN ###
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data",
                  header=None, names=headers, na_values="?" )
print('data frame shape:', df.shape)
print('--- data frame data types ---')
print(df.dtypes)
print('--- data frame ---')
df.head()

data frame shape: (205, 26)
--- data frame data types ---
symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object
--- data frame ---

   symboling  normalized_losses         make  ... city_mpg highway_mpg    price
0          3                NaN  alfa-romero  ...       21          27  13495.0
1          3                NaN  alfa-romero  ...       21          27  16500.0
2          1                NaN  alfa-romero  ...       19          26  16500.0
3          2              164.0         audi  ...       24          30  13950.0
4          2              164.0         audi  ...       18          22  17450.0

[5 rows x 26 columns]

In [65]:
### create a data frame of all the categorical values which are 'object' ###
cat_df = df.select_dtypes(include=['object']).copy()
print('data frame shape:', cat_df.shape)
### check for NaN's in the data ### 
print('--- NaNs in the data ---')
print(cat_df.isna().sum())
print('--- data frame ---')
cat_df.head()

data frame shape: (205, 10)
--- NaNs in the data ---
make               0
fuel_type          0
aspiration         0
num_doors          2
body_style         0
drive_wheels       0
engine_location    0
engine_type        0
num_cylinders      0
fuel_system        0
dtype: int64
--- data frame ---

          make fuel_type aspiration  ... engine_type num_cylinders fuel_system
0  alfa-romero       gas        std  ...        dohc          four        mpfi
1  alfa-romero       gas        std  ...        dohc          four        mpfi
2  alfa-romero       gas        std  ...        ohcv           six        mpfi
3         audi       gas        std  ...         ohc          four        mpfi
4         audi       gas        std  ...         ohc          five        mpfi

[5 rows x 10 columns]

In [66]:
### check the different values for 'num_doors' ### 
print('--- values for num_doors ---')
cat_df["num_doors"].value_counts()

--- values for num_doors ---

four    114
two      89
Name: num_doors, dtype: int64

In [67]:
### fill the NaNs with majority, four ### 
cat_df = cat_df.fillna(({'num_doors': 'four'}))
print('--- NaNs in the data ---')
cat_df.isna().sum()

--- NaNs in the data ---

make               0
fuel_type          0
aspiration         0
num_doors          0
body_style         0
drive_wheels       0
engine_location    0
engine_type        0
num_cylinders      0
fuel_system        0
dtype: int64

## Pandas Encoding

### Find and Replace
- manually replace categorical values 
- useful if amount of unique values is small

In [68]:
### check the different values for 'num_cylinders' ### 
print('--- values for num_cylinders ---')
cat_df['num_cylinders'].value_counts()

--- values for num_cylinders ---

four      159
six        24
five       11
eight       5
two         4
twelve      1
three       1
Name: num_cylinders, dtype: int64

In [69]:
### manually replace the values with numbers ###
# pandas will convert from object to int64
cat_replace =   {"num_doors":     {"four": 4, "two": 2},
                 "num_cylinders": {"four": 4, "six": 6, 
                                   "five": 5, "eight": 8,
                                   "two": 2, "twelve": 12, 
                                   "three": 3 }}
cat_df = cat_df.replace(cat_replace)
print('--- data frame shape:', cat_df.shape)
print(' --- data types ---')
print(cat_df.dtypes)
print('--- data frame ---')
cat_df.head()

--- data frame shape: (205, 10)
 --- data types ---
make               object
fuel_type          object
aspiration         object
num_doors           int64
body_style         object
drive_wheels       object
engine_location    object
engine_type        object
num_cylinders       int64
fuel_system        object
dtype: object
--- data frame ---

          make fuel_type aspiration  ...  engine_type num_cylinders fuel_system
0  alfa-romero       gas        std  ...         dohc             4        mpfi
1  alfa-romero       gas        std  ...         dohc             4        mpfi
2  alfa-romero       gas        std  ...         ohcv             6        mpfi
3         audi       gas        std  ...          ohc             4        mpfi
4         audi       gas        std  ...          ohc             5        mpfi

[5 rows x 10 columns]

### Label Encoding 
- technique that is converting each value in a column to a number
- data type is changed to category before use
- the disadvantage that the numeric values can be “misinterpreted” by the algorithms

In [70]:
### change the data type from object to category ### 
cat_df["body_style"] = cat_df["body_style"].astype('category')
print('--- data types ---')
print(cat_df.dtypes)
### create a new column with the category codes from the body_style values ### 
cat_df['body_style_cat'] = cat_df['body_style'].cat.codes
print('data frame shape:', cat_df.shape)
print('--- data frame ---')
cat_df.head()

--- data types ---
make                 object
fuel_type            object
aspiration           object
num_doors             int64
body_style         category
drive_wheels         object
engine_location      object
engine_type          object
num_cylinders         int64
fuel_system          object
dtype: object
data frame shape: (205, 11)
--- data frame ---

          make fuel_type aspiration  ...  num_cylinders fuel_system body_style_cat
0  alfa-romero       gas        std  ...              4        mpfi              0
1  alfa-romero       gas        std  ...              4        mpfi              0
2  alfa-romero       gas        std  ...              6        mpfi              2
3         audi       gas        std  ...              4        mpfi              3
4         audi       gas        std  ...              5        mpfi              3

[5 rows x 11 columns]

### One Hot Encoding 
- convert each category value into a new column and assigns a 1 or 0 (True/False) value to the column.
- benefit of not weighting a value improperly but does have the downside of adding more columns to the data set
- original columns stick around so filter 'object' data types for analysis

In [71]:
import pandas as pd 
### use get_dummies on the columns for encoding ### 
# can work multiple columns at once 
cat_df = pd.get_dummies(cat_df, columns = ['drive_wheels'])
### can set a 'prefix' to the new columns for organization ### 
# cat_df = pd.get_dummies(cat_df, columns = ['body_style', 'drive_wheels'], prefix = ['body', 'drive'])
print('data frame shape:', cat_df.shape)
print('--- data frame ---')
cat_df.head()

data frame shape: (205, 13)
--- data frame ---

          make fuel_type  ... drive_wheels_fwd  drive_wheels_rwd
0  alfa-romero       gas  ...                0                 1
1  alfa-romero       gas  ...                0                 1
2  alfa-romero       gas  ...                0                 1
3         audi       gas  ...                1                 0
4         audi       gas  ...                0                 0

[5 rows x 13 columns]

### Custom Binary Encoding 
- convert each category value into a new column and assigns a 1 or 0 (True/False) value to the column.
- benefit of not weighting a value improperly but does have the downside of adding more columns to the data set
- original columns stick around so filter 'object' data types for analysis

In [72]:
### creating a column for if engine_type is 'ohc', True or False ### 
### check the different values for 'engine_type' ### 
print('--- values for engine_type ---')
cat_df['engine_type'].value_counts()

--- values for engine_type ---

ohc      148
ohcf      15
ohcv      13
l         12
dohc      12
rotor      4
dohcv      1
Name: engine_type, dtype: int64

In [74]:
### create a new column and if the value contains 'ohc' give it a 1, if not 0 ### 
cat_df['OHC_Code'] = np.where(cat_df['engine_type'].str.contains("ohc"), 1, 0)
print('data frame shape:', cat_df.shape)
print('--- OHC_Code values ---')
print(cat_df['OHC_Code'].value_counts())
print('--- data frame ---')
cat_df.head()

data frame shape: (205, 14)
--- OHC_Code values ---
1    189
0     16
Name: OHC_Code, dtype: int64
--- data frame ---

          make fuel_type  ... drive_wheels_rwd  OHC_Code
0  alfa-romero       gas  ...                1         1
1  alfa-romero       gas  ...                1         1
2  alfa-romero       gas  ...                1         1
3         audi       gas  ...                0         1
4         audi       gas  ...                0         1

[5 rows x 14 columns]

## SKlearn Encoding 
- best for machine learning models 
- works well with pipelines

### Ordinal Encoder 
- equivalent to label encoding 
- technique that is converting each value in a column to a number
- data type is changed to category before use
- the disadvantage that the numeric values can be “misinterpreted” by the algorithms

In [75]:
from sklearn.preprocessing import OrdinalEncoder
### initiate the encoder ###
oe = OrdinalEncoder()
### create a new column, use fit transform on the column to encode ### 
cat_df['make_code'] = oe.fit_transform(cat_df[['make']])
### show the change from make, make_code ### 
print('--- encoded "make" column ---')
cat_df[['make', 'make_code']].head()

--- encoded "make" column ---

          make  make_code
0  alfa-romero        0.0
1  alfa-romero        0.0
2  alfa-romero        0.0
3         audi        1.0
4         audi        1.0

### One Hot Encoder
- binary encoding, true or false 
- convert each category value into a new column and assigns a 1 or 0 (True/False) value to the column.
- benefit of not weighting a value improperly but does have the downside of adding more columns to the data set
- original columns stick around so filter 'object' data types for analysis

In [76]:
from sklearn.preprocessing import OneHotEncoder
### initiate the encoder ###
ohe = OneHotEncoder()
### create a new column, use fit transform on the column to encode ### 
ohe_results = ohe.fit_transform(cat_df[['body_style']])
### show the change from make, make_code ### 
print('--- encoded "make" columns ---')
### create a data frame of the columns encoded ###
# must use array() to convert format for a dataframe
print(pd.DataFrame(ohe_results.toarray(), columns = ohe.categories_).head())
print('--- added encoded columns to data frame ---')
### add the encoded data to the original data frame ### 
cat_df = cat_df.join(pd.DataFrame(ohe_results.toarray(), columns=ohe.categories_))
cat_df.head()

--- encoded "make" columns ---
  convertible hardtop hatchback sedan wagon
0         1.0     0.0       0.0   0.0   0.0
1         1.0     0.0       0.0   0.0   0.0
2         0.0     0.0       1.0   0.0   0.0
3         0.0     0.0       0.0   1.0   0.0
4         0.0     0.0       0.0   1.0   0.0
--- added encoded columns to data frame ---

          make fuel_type aspiration  ...  (hatchback,) (sedan,) (wagon,)
0  alfa-romero       gas        std  ...           0.0      0.0      0.0
1  alfa-romero       gas        std  ...           0.0      0.0      0.0
2  alfa-romero       gas        std  ...           1.0      0.0      0.0
3         audi       gas        std  ...           0.0      1.0      0.0
4         audi       gas        std  ...           0.0      1.0      0.0

[5 rows x 20 columns]